* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f6ee;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  color: #2d9596;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  33% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
  66% {
    box-shadow: -38px -6px, -14px 6px, 14px -6px;
  }
  100% {
    box-shadow: -38px 6px, -14px -6px, 14px 6px;
  }
}

.list {
  list-style: none;
  margin-bottom: 10px;
}

.breed-select {
  margin: 20px 15px 5px;
  max-width: 300px;
}

.cat-info {
  display: flex;
  flex-direction: row;
  gap: 26px;
  margin: 20px 16px;
}

.content-wrapper {
  max-width: 50%;
}

.image {
  max-width: 40%;
  object-fit: cover;
}

.main-title {
  font-size: 34px;
  margin-bottom: 16px;
}

.description {
  letter-spacing: 0.02em;
  margin-bottom: 10px;
  font-size: 18px;
}

.list-item:not(:last-child) {
  margin-bottom: 4px;
}

.link {
  text-decoration: none;
  display: block;
  color: #2d9596;
  transition: color 0.2s ease;
}

.link:hover {
  color: #67e1c1;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
